.root {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-16);
}

.option {
  border: 0;
  background: transparent;
  color: var(--color-neutral-cool-500);
  cursor: pointer;
}

.optionActive {
  color: var(--color-black);
  font-weight: 600;
}
