.explanation-survey-period-readonly {
  margin: 16px 8px 0;
  overflow: hidden;
  color: var(--main-BK, #3d3d3d);
  text-overflow: ellipsis;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
