.list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--spacing-16);
  padding: var(--spacing-16) var(--spacing-12);
  border-top: 1px solid var(--color-border-default);
}

.rowFirst {
  border-top: 2px solid var(--color-primary-500);
}

.label {
  overflow: hidden;
  width: 120px;
  flex: 0 0 120px;
  text-overflow: ellipsis;
}

.value {
  display: flex;
  min-width: 0;
  flex: 1;
  align-items: center;
  gap: var(--spacing-8);
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (--bp-below-pc) {
  .value {
    justify-content: flex-end;
    text-align: right;
  }
}
