.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--spacing-20);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-100);
}
