.overall-program-progress-card {
    cursor: pointer;
    height: 100%;
}

.overall-program-progress-card__placeholder {
    height: 150px;
}

.overall-program-progress-card__status-row {
    margin-top: var(--spacing-16);
}