.textbook-detail-fullpage-modal.detail-fullpage-modal .detail-fullpage-modal__content {
  padding-top: 16px;
}

.textbook-detail-fullpage-modal__root {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textbook-detail-fullpage-modal__basic-info-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textbook-detail-fullpage-modal__registered-value {
  display: inline-flex;
  align-items: center;
  min-height: 24px;
}

.textbook-detail-fullpage-modal__registered-divider {
  display: inline-flex;
  align-items: center;
  margin: 0 16px;
  opacity: 0.5 !important;
}

.textbook-detail-fullpage-modal__header-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.textbook-detail-fullpage-modal__header-actions .cms-button {
  width: 140px;
  min-width: 140px;
  height: 44px;
}

.textbook-detail-fullpage-modal__use-status-radio {
  display: inline-flex;
  gap: 12px;
}

.textbook-detail-fullpage-modal__stage,
.textbook-detail-fullpage-modal__stage > span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.textbook-detail-fullpage-modal__education-form .detail-info-form__field {
  min-height: 64px;
}
