.recruit-detail-info-paragraph__textarea.cms-textarea--rows-1 .cms-textarea__control,
.recruit-detail-info-paragraph__textarea.cms-textarea--rows-1 .cms-textarea__inner {
  align-items: center;
}

.recruit-detail-info-paragraph__textarea.cms-textarea--rows-1 .cms-textarea__control {
  min-height: 40px;
  padding: 0;
  overflow: visible;
}

.recruit-detail-info-paragraph__textarea.cms-textarea--rows-1
  .cms-textarea__inner
  textarea.ant-input {
  height: 40px;
  min-height: 40px;
  padding: 0 12px 0 14px !important;
  resize: vertical;
  overflow: auto;
  align-content: center;
  white-space: normal;
  text-overflow: clip;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.recruit-detail-info-paragraph__textarea.cms-textarea--rows-1
  .cms-textarea__inner
  textarea.ant-input::placeholder {
  white-space: normal;
}
