.participating-individual-team-change-modal__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.participating-individual-team-change-modal__description {
  margin: 0;
  color: var(--default-BK, #3d3d3d);
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.participating-individual-team-change-modal__field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.participating-individual-team-change-modal__label {
  color: var(--main-BK, #3d3d3d);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.participating-individual-team-change-modal__footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}
