.toggle {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  text-align: left;
}

.toggle:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkLarge {
  width: 100%;
}

.checkSmall {
  width: 100%;
  min-width: 0;
}

.icon + .content {
  margin-inline-start: var(--spacing-24);
}

@media (--bp-below-pc) {
  .icon + .content {
    margin-inline-start: var(--spacing-12);
  }
}

.icon {
  display: block;
  flex: 0 0 auto;
}

.iconCheckLarge {
  width: 24px;
  height: 24px;
}

.iconCheckSmall {
  width: 20px;
  height: 20px;
}

.content {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 1 1 auto;
}

.label {
  white-space: nowrap;
}

.labelMuted {
  color: var(--color-neutral-cool-400);
}
