.role-icon {
    display: inline-flex;
    align-items: center;
}

.role-icon--small {
    font-size: var(--font-size-12);
}

.role-icon--default {
    font-size: var(--font-size-16);
}

.role-icon--large {
    font-size: var(--font-size-20);
}