.interview-list-header {
  margin-bottom: 16px;
  width: 100%;
  justify-content: space-between;
}

.interview-list-title {
  margin: 0;
  font-size: 20px;
}

.interview-list-filters {
  margin-bottom: 16px;
}

.interview-list-filter--status {
  width: 180px;
}

.interview-list-filter--role {
  width: 150px;
}
