.form-template-id-type-with-input {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.form-template-id-type-with-input__radios {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-template-id-type-with-input__input {
  width: 100%;
}

.form-template-fill-multiple-choice {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.form-template-fill-multiple-choice__description {
  margin: 0;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: var(--default-BK, #3d3d3d);
  white-space: pre-wrap;
}

.form-template-fill-multiple-choice__radios {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 8px;
}

.form-template-fill-explanation-text {
  width: 100%;
  font-size: 16px;
  line-height: 150%;
}

.form-template-fill-short-essay,
.form-template-fill-short-essay-items {
  width: 100%;
}

.form-template-fill-short-essay-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 8px;
}

.form-template-fill-short-essay-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-template-fill-short-essay-item__label {
  font-size: 14px;
  font-weight: 600;
  color: var(--default-BK, #3d3d3d);
}
