.instructor-settlement-preview__title {
  overflow: hidden;
  color: var(--default-BK, #3d3d3d);
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  white-space: nowrap;
}

